<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="pcd_filename" default="cloud"/>
    <arg name="lidar_point_tp" default="/lidar/selectPointLidar/picked_points"/>
    <arg name="camera_point_tp" default="/camera/selectPointCamera/picked_points"/>
    <arg name="lidar_pcd_filename" default="cloud"/>
    <arg name="camera_img_filename" default="image"/>
    <arg name="camParam_filename" default="cam_intrinsic.yaml"/>
    <arg name="exParam_filename" default="L_to_C_exParam"/>
    

    <node pkg="manual_calibration" name="l2cCalibration" type="l2cCalibration" output="screen">
        <param name="lidar_point_tp" value="$(arg lidar_point_tp)" />  
        <param name="camera_point_tp" value="$(arg camera_point_tp)" />  
        <param name="lidar_pcd_filepath" value="$(find manual_calibration)/data/pcdFiles/$(arg lidar_pcd_filename).pcd" /> 
        <param name="camera_img_filepath" value="$(find manual_calibration)/data/imgFiles/$(arg camera_img_filename).png" /> 
        <param name="camera_param_filepath" value="$(find manual_calibration)/data/camParam/$(arg camParam_filename)"/>
        <!-- <param name="color_intenisty" value="5"/> -->
        <param name="color_distance" value="0.2"/>
        <rosparam param="init_TR_L2C">  [0.0, -1.0, 0.0, 0.0, 0.0, 0.0, -1.0, 0.0, 1.0, 0.0, 0.0, 0.0] </rosparam>

        <param name="exParam_filepath" value="$(find manual_calibration)/data/calibResult/$(arg exParam_filename)"/>
    </node>

</launch>

